.DS_Store
.idea/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.html
#*.svg
*.csv
*.png
#*.txt
*.geojson

data/raw/
data/processed/
reports/

catboost_info/
src/analysis/catboost_info/
src/nus_quant_strategy_case.egg-info/

outputs/section1/results/
outputs/section1/*.twb
outputs/section1/*.twbx
outputs/section1/results/*.twb
outputs/section1/results/*.twbr
outputs/section1/results/*.twbx
outputs/section1/results/final/town_indicator_svgs/
outputs/section1/results/final/town_indicator_pngs/

*.parquet

!.gitkeep
.claude/
AGENTS.md
